@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');


body {
    background: url('aszok.png');
    background-size: 300px;
}

h1
{
    font-family: 'Alex Brush', cursive!important;
    font-size: 100px!important;
    text-align: center;
}
.fk {
    font-weight: bold;
}
.fekete {
    color: black;
}
.zöld {
color: green;
}
.piros {
color: red;
}
.kék {
color: blue;
}
.alakzat {
    font-size: 6em;
    text-align: center;
    margin: 0;
}
.kepalairas {
    font-style: italic;
    font-size: 12px ;
    text-align: center;
    border: solid 1px black;
    border-radius: 6px;
}